body {
	margin: 0;
	font-family: 'Carter One', cursive;
	font-size: 20px;
	background-image: url(img/speed.jpg);
	background-size: cover;
}

header {
	background-image: url(img/diobg2.jpg);
	background-size: auto;
	text-align: start;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 90px; 
}


header h1{
	color: white;
	font-family: 'Reggae One', cursive, sans-serif;
	font-size: 28px;
	text-align: start;
	padding-top: 20px;
	margin-left: 100px;
	text-shadow: 10px 8px 10px black;
	margin-top: 360px;
}

.japan {
	margin-left: -40px;
	margin-top: 15px;
}



h1, h2{
	font-family: 'Reggae One', cursive, sans-serif;
}


div h5 {
	text-shadow: 2px 2px 4px black;
	font-size: 30px;
	padding-bottom: 350px;
	
}

h2 {
	text-decoration: underline;
	padding-bottom: 30px;
	font-size: 30px;
	color: white; 
	text-shadow: 2px 2px 4px black;
	margin: 40px 0 10px;
}

p, li {
	color: white;
	text-shadow: 2px 2px 4px black;
	padding-bottom: 30px;
}

li a {
	color: white;
	font-size: 20px;
}

.carousel {
	border: 6px solid black;
}

.ability {
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -160px;
  margin-bottom: -130px;

}

.pursuersname {
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -160px;
  margin-bottom: -170px;
}

.thankyou {
		display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  margin-bottom: -130px;
}


a { 
	color: #ff8800;
}

a:hover {
	color: black;
	background-color: #ffee32;
}

footer {
	text-align: start;
	color: red;
	padding: 50px;
	background-image: url(img/diobg2.jpg);
	background-size: auto;
}


footer p{
	color: white;
	margin: 0;
	font-size: 25px;
	size: 1000px;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer a:hover {
	color: black;
	background-color: #ffee32;
}



.dio {
	background-image: url(img/dio.jpg);
	background-size: cover;
	width: 380px;
	height: 360px;
	border-radius: 20px;
	border: 5px solid white;
	margin-bottom: 50px;
	margin-left: 150px;
}

.dio:hover {
	background-image: url(img/dio3.gif);
	background-position: center;
	transition: background-image .3s ease;
}

.dioname {
	width: 340px;
	height: 270px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 280px;
  margin-bottom: -130px;
}

.joseph{
	background-image: url(img/joseph.jpg);
	background-size: cover;
	width: 690px; 
	height: 440px;
	border-radius: 20px;
	border: 4px solid black;
	margin-top: 35px;
	padding-bottom: -20px;
	margin-right: 30px;
}

.joseph:hover {
	background-image: url(img/hermit.gif);
	background-position: center;
	transition: background-image .3s ease;
}

.jotaro{
	background-image: url(img/jotaro.jpg);
	background-size: cover;
	width: 690px; 
	height: 440px;
	border-radius: 20px;
	border: 4px solid black;
	margin-top: 35px;
	padding-bottom: -20px;
	margin-right: 30px;
}

.jotaro:hover {
	background-image: url(img/jotaro2.gif);
	background-position: center;
	transition: background-image .3s ease;
}

.polnareff{
	background-image: url(img/polnareff.jpg);
	background-size: cover;
	width: 690px; 
	height: 440px;
	border-radius: 20px;
	border: 4px solid black;
	margin-top: 35px;
	padding-bottom: -20px;
	margin-right: 30px;
}

.polnareff:hover {
	background-image: url(img/silver.gif);
	background-position: center;
	transition: background-image .3s ease;
}

.avdol{
	background-image: url(img/avdol.jpg);
	background-size: cover;
	width: 690px; 
	height: 440px;
	border-radius: 20px;
	border: 4px solid black;
	margin-top: 35px;
	padding-bottom: -20px;
	margin-right: 30px;
}

.avdol:hover {
	background-image: url(img/red.gif);
	background-position: center;
	transition: background-image .3s ease;
}

.kakyoin{
	background-image: url(img/kakyoin.jpg);
	background-size: cover;
	width: 690px; 
	height: 440px;
	border-radius: 20px;
	border: 4px solid black;
	margin-top: 35px;
	padding-bottom: -20px;
	margin-right: 30px;
}

.kakyoin:hover {
	background-image: url(img/emerald.gif);
	background-position: center;
	transition: background-image .3s ease;
}

.iggy{
	background-image: url(img/iggy.jpg);
	background-size: cover;
	width: 690px; 
	height: 440px;
	border-radius: 20px;
	border: 4px solid black;
	margin-top: 35px;
	padding-bottom: -20px;
	margin-right: 30px;
}

.iggy:hover {
	background-image: url(img/fool.gif);
	background-position: center;
	transition: background-image .3s ease;
}


.pursuers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



ol, li {
	font-size: 20px;
}





main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img {
	max-width: 100%;
	width: 800;
	height:  450px;
}

